<body>

  <div class="container mt-5">
    <div class="search-form">
      <%= render 'search' %>
    </div>
      <div class="user-list">
        <% @users.each do |user| %>
          <% next if user == current_user %>
          <div class="user-item">
            <div class="user-info">
              <% if user.profile_picture.attached? %>
                <%= image_tag user.profile_picture, class: 'profile-picture' %>
              <% else %>
                <%= image_tag "default_profile_picture.png", class: 'profile-picture' %>
              <% end %>

              <div class="profile-info">
                <div class="user-details">
                  <h6 class="mb-1"><%= link_to user.username, user_path(user) %></h6>
                  <p class="mb-1"><%= user.introduction %></p>
                </div>
              </div>
            </div>

            <div class="follow-unfollow-buttons">
              <% if user_signed_in? %>
                <% if current_user.guest? %>
                  <button onclick="alert('ゲストユーザーはこの操作はできません')" class='follow-button'>Follow</button>
                <% elsif current_user.following?(user) %>
                  <%= button_to "Unfollow", unfollow_user_path(user), method: :delete, remote: true, class: 'unfollow-button', id: "unfollow-button-#{user.id}" %>
                  <%= button_to "Follow", follow_user_path(user), remote: true, class: 'follow-button', id: "follow-button-#{user.id}", style: 'display:none;' %>
                <% else %>
                  <%= button_to "Follow", follow_user_path(user), remote: true, class: 'follow-button', id: "follow-button-#{user.id}" %>
                  <%= button_to "Unfollow", unfollow_user_path(user), method: :delete, remote: true, class: 'unfollow-button', id: "unfollow-button-#{user.id}", style: 'display:none;' %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</body>