<h1><%= link_to "新しい投稿", new_post_path %></h1>

<div>
  <h3><%= @user.username %></h3>
  <p><%= @user.email %></p>
  <%= image_tag url_for(@user.profile_picture) if @user.profile_picture.attached? %>
  <p><%= @user.introduction %></p>
  <p><%= @user.location %></p>
</div>

<% @posts.each do |post| %>
  <div>
    <p><%= post.content %></p>
    <%= link_to '編集', edit_post_path(post) %>
    <%= link_to '削除', post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？？" %>
  </div>
<% end %>
