<h1><%= link_to "新しい投稿", new_post_path %></h1>

<% if current_user != @user %>
<% if current_user.following.include?(@user) %>
  <%= button_to "フォロー解除", unfollow_user_path(@user), method: :delete %>
<% else %>
  <%= button_to "フォロー", follow_user_path(@user), method: :post %>
<% end %>
<% end %>



<div>
  <h3><%= @user.username %></h3>
  <p><%= link_to "フォロー: #{@user.following.count}", following_user_path(@user) %></p>
  <p><%= link_to "フォロワー: #{@user.followers.count}", followers_user_path(@user) %></p>
  <%# if current_user != @user && @conversation.present? %>
    <%= link_to "DM", conversation_path(@conversation) %>
  <%# end %>

  <% if current_user == @user %>
    <%= link_to "編集", edit_user_path %>
  <% end %>

  <p>メールアドレス: <%= @user.email %></p>
  <%= image_tag url_for(@user.profile_picture) if @user.profile_picture.attached? %>
  <p><%= @user.introduction %></p>
  <p><%= @user.location %></p>
</div>

<% @posts.each do |post| %>
  <div>
    <p><%= post.content %></p>
    <% if post.image.attached? %>
    <%= image_tag post.image, size: "50×50" %>
    <% end %>
    <%= link_to '編集', edit_post_path(post) %>
    <%= link_to '削除', post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？？" %>
  </div>
<% end %>

<p><%= link_to "投稿一覧に戻る", posts_path %></p>
