<style>
  .responsive-video {
  width: 100%;
  height: auto;
}

</style>
<div class="chat-message overflow-auto" style="max-height: 750px;">
  <% chats.each do |chat| %>
  <div id="<%= chat.id %>">
    <% if chat.user_id == current_user.id %>
      <div class="message self <%= 'no-bg' if chat.image.attached? || chat.video.attached? %>">
        <div class="message-body">
          <%= chat.message %>
          <!--ここから-->
          <% if chat.image.attached? %>
            <%= image_tag(chat.image.variant(resize_to_limit: [500, 500]), width: '100%', height: 'auto', class: 'rounded') %>
          <% end %>

          <% if chat.video.attached? %>
            <%= video_tag rails_blob_path(chat.video), controls: true, class: 'responsive-video rounded' if chat.video.attached? %>
          <% end %>
          </div>

          <% if chat.read %>
            <span class="read">既読</span>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="message other <%= 'no-bg' if chat.image.attached? || chat.video.attached? %>">
        <div class="message-sender"><%= chat.user.username %></div>
        <div class="message-body">
          <%= chat.message %>

          <!--ここから-->
          <% if chat.image.attached? %>
            <%= image_tag chat.image %>
          <% end %>

          <% if chat.video.attached? %>
            <%= video_tag chat.video, controls: true %>
          <% end %>
        </div>
      </div>
      </div>
    <% end %>
  <% end %>
</div>