<div id="<%= chat.id %>">
  <% if chat.user_id == current_user.id %>
    <div class="message self <%= 'no-bg' if chat.image.attached? || chat.video.attached? %>">
      <div class="message-body">
        <%= chat.message %>

        <% if chat.image.attached? && chat.image.blob.content_type.start_with?('image/') %>
          <div class='file-container'>
            <%= image_tag(chat.image.variant(resize_to_limit: [500, 500]), width: '100%', height: 'auto', class: 'rounded') %>
            <%= button_to '保存', saved_files_path(chat_id: chat.id), method: :post, remote: true, class: 'save-btn' %>
             <span id="status-<%= chat.id %>" class="status" style="display: none;">保存済み</span>
          </div>
        <% end %>

        <% if chat.video.attached? %>
          <div class='file-container'>
            <%= video_tag rails_blob_path(chat.video), controls: true, class: 'responsive-video rounded' %>
            <%= button_to '保存', saved_files_path(chat_id: chat.id), method: :post, remote: true, class: 'save-btn' %>
            <span id="status-<%= chat.id %>" class="status" style="display: none;">保存済み</span>
          </div>
        <% end %>
      </div>

      <p class="chat-delete"><%#= link_to "削除", chat_path(chat), method: :delete, data: { confirm: "本当に削除しますか？" } %></p>

      <p class="chat-timestamp"><%= chat.created_at.strftime("%Y-%m-%d %H:%M")%></p>
    </div>
  <% else %>
    <div class="message other <%= 'no-bg' if chat.image.attached? || chat.video.attached? %>">
      <div class="message-sender">
        <% if chat.user.profile_picture.attached? %>
          <%= image_tag url_for(chat.user.profile_picture), size: "25x25", class: 'profile_picture rounded-circle mr-2' %>
        <% else %>
          <%= image_tag 'default_profile_picture.png', size: "25x25", class: 'profile_picture rounded-circle mr-2' %>
        <% end %>
        <%= chat.user.username %></div>
      <div class="message-body">
        <%= chat.message %>

        <% if chat.image.attached? && chat.user_id != current_user.id %>
          <div class="file-container">
            <%= image_tag(chat.image.variant(resize_to_limit: [500, 500]), width: '100%', height: 'auto', class: 'rounded') %>
            <%= button_to '保存', saved_files_path(chat_id: chat.id), method: :post, remote: true, class: 'save-btn' %>
            <span id="status-<%= chat.id %>" class="status" style="display: none;">保存済み</span>
          </div>
        <% end %>

        <% if chat.video.attached? && chat.user_id != current_user.id %>
          <div class="file-container">
            <%= video_tag rails_blob_path(chat.video), controls: true, class: 'responsive-video rounded' %>
            <%= button_to '保存', saved_files_path(chat_id: chat.id), method: :post, remote: true, class: 'save-btn' %>
            <span id="status-<%= chat.id %>" class="status" style="display: none;">保存済み</span>
          </div>
        <% end %>
      </div>
      <p class="chat-timestamp"><%= chat.created_at.strftime("%Y-%m-%d %H:%M")%></p>
       </div>
  <% end %>
</div>
<script>
  document.querySelectorAll('.file-container').forEach(function(container) {
  container.addEventListener('mouseover', function() {
    container.querySelector('.save-btn').style.display = 'block';
  });

  container.addEventListener('mouseout', function() {
    container.querySelector('.save-btn').style.display = 'none';
  });

  var saveBtn = container.querySelector('.save-btn');
  var statusElement = container.querySelector('.status');

  saveBtn.addEventListener('click', function() {
    statusElement.style.display = 'inline-block';
    statusElement.textContent = '保存済み';
  });
});


</script>
