<div class="chat-container">
  <div class="chat-topbar">
    <h2><%= link_to @user.username, user_path(@user) %> さんとのチャット</h2>

  </div>
  <div class="message">
    <%= render "chats/messages", chats: @chats %>
  </div>

  <div class="chat-form">
    <%= form_with model: @chat, data: {remote: true} do |f| %>

      <%= f.text_field :message, placeholder: "メッセージを入力してください", autocomplete: "off" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const chatBox = document.querySelector('.message');
    chatBox.addEventListener('scroll', (e) => {
      if (chatBox.scrollHeight - chatBox.scrollTop === chatBox.clientHeight) {
        const lastChatId = chatBox.lastElementChild.id;
        const xhr = new XMLHttpRequest();
        xhr.open('PATCH', `/chats/${lastChatId}/read`);
        xhr.setRequestHeader('X-CSRF-Token', document.querySelector('meta[name="csrf-token"]').content);
        xhr.send();
      }
    });
  });
</script>
