<%= form_with(model: [@post, Comment.new], local: false) do |f| %>
  <div class="user-comment">
    <% if current_or_guest_user.email == 'guest@example.com' %>
      <div class="form-group d-flex">
        <% if current_user.profile_picture.attached? %>
          <%= image_tag current_user.profile_picture, class: 'rounded-circle', style: "width: 50px; height:50px" %>
        <% end %>
        <%= f.text_field :content, placeholder: "ゲストユーザーはコメントできません", class: "form-control-comment" %>
      </div>
    <% else %>
      <div class="user-comment">
        <div class="form-group d-flex">
          <% if current_user.profile_picture.attached? %>
            <%= image_tag current_user.profile_picture, class: 'rounded-circle', style: "width: 50px; height: 50px;" %>
          <% else %>
            <%= image_tag 'default_profile_picture.png', class: 'img-fluid rounded-circle mr-2' %>
          <% end %>
          <%= f.text_area :content, placeholder: "コメント入力欄", class: "form-control-comment ml-2 mt-1", autocomplete: "off" %>
          <%= f.submit "コメントする", class: "btn btn-custom" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

