<% post.comments.each do |comment| %>
  <div class="comment-container">
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <p class="comment-header"><%= comment.user.username %>:</p>
        <p class="comment-content"><%= comment.content %></p>
      </div>
      <% if current_user == comment.user %>
        <div>
          <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "comment-delete-link btn btn-link" do %>
            <i class="fas fa-trash" style="color: #FF6347;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_with(model: [post, Comment.new], local: true) do |f| %>
  <%= f.hidden_field :post_id, value: post.id %>

  <% if current_or_guest_user.email == 'guest@example.com' %>
  <div class="form-group">
    <%= f.text_field :content, placeholder: "コメント入力欄", class: "form-control" %>
  </div>
  <%= f.submit "コメントする", class: "btn btn-custom guest-action" %>

  <% else %>
  <div class="form-group">
    <%= f.text_field :content, placeholder: "コメント入力欄", class: "form-control" %>
  </div>
  <%= f.submit "コメントする", class: "btn btn-custom" %>
<% end %>
<% end %>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  let guestActions = document.querySelectorAll('.guest-action');
  guestActions.forEach((element) => {
    element.addEventListener('click', (event) => {
      event.preventDefault();
      alert('ゲストユーザーはこの操作はできません');
    });
  });
});

</script>