<div class="comment-container ml-3" id="comment_<%= comment.id%>" >
  <div class="d-flex align-items-start">
    <%= image_tag url_for(comment.user.get_profile_picture), class: 'img-fluid rounded-circle mr2 p-1', style: "width: 60px; height: 60px;" %>
    <div>
      <p class="comment-header ml-3"><%= link_to comment.user.username, user_path(comment.user) %></p>
      <p class="comment-content ml-3"><%= simple_format(comment.content) %></p>
    </div>
  </div>
  <span class="comment-timestamp timer"><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
  <span><i class="fas fa-clock" style="color: #006400"></i></span>
   <% if current_user == comment.user %>
     <%= link_to post_comment_path(@post, comment), method: :delete, remote: true,
     data: { confirm: "本当に削除しますか？" }, class: "comment-delete-link btn btn-link" do %>
     <span><i class="fas fa-trash mb-auto" style="color: #FF6347;"></i></span>
   <% end %>
   <% end %>
</div>
