<%= form_with(model: post, local: true, url: posts_path, html: {class: "form"}, scope: :post) do |f| %>
  <div class="form-group">
    <%= f.label :投稿内容, class: "form-label" %>
    <%= f.text_area :content, class: "form-control-posts", placeholder: "1~140文字以内" %>
  </div>

  <div class="form-group">
    <%= f.label :画像, class: "form-label" %>
    <span class="btn btn-default btn-file">
      <i class="fas fa-images fa-lg"></i>
      <%= f.file_field :image, accepst: 'image/*', class: "form-control" %>
    </span>
  </div>

  <div class="form-group">
    <%= f.label :動画, class: "form-label" %>
    <span class="btn btn-default btn-file">
      <i class="fas fa-video fa-lg"></i>
      <%= f.file_field :video, accepst: 'video/*', class: "form-control" %>
    </span>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>
