
<div class="col-3">
  <div class="main-container">
    <div class="col-md-2"></div>

<div class="sidebar">

  <nav class="nav flex-column">
    <%= render 'users/search' %>
    </li>
  <nav class="nav flex-column">
    <li class="nav-item mb-3">
      <%= link_to root_path, class: 'nav-link' do %>
        <i class="fas fa-home fa-lg"></i> ホーム
      <% end %>
    </li>

    <li class="nav-item mb-3">
      <%= link_to posts_path, class: 'nav-link' do %>
        <i class="fas fa-list fa-lg"></i> 投稿一覧
      <% end %>
    </li>

    <li class="nav-item mb-3">
      <%= link_to user_path(current_user), class: 'nav-link' do %>
        <i class="fas fa-user fa-lg"></i> マイページ
      <% end %>
    </li>

    <li class="nav-item mb-3">
      <%= link_to user_path(current_user), class: 'nav-link' do %>
        <i class="fas fa-user fa-lg"></i> マイページ
      <% end %>
    </li>

    <% unless current_user.guest? %>
      <li class="nav-item mb-3">
        <%= link_to notifications_path(current_user), class: 'nav-link' do %>
          <i class="fas fa-bell fa-lg"></i>&nbsp; 通知
        <% end %>
      </li>
    <% end %>

    <li class="nav-item mb-3">
      <%= link_to liked_posts_user_path(@user), class: 'nav-link' do %>
        <i class="fas fa-heart fa-lg"></i> いいね一覧
      <% end %>
    </li>
  </nav>
</div>
</div>
</div>