
<button class="btn btn-primary d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="fa fa-bars"></i>
</button>

<div class="offcanvas offcanvas-start d-md-none" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <nav class="nav flex-column">
      <div class="sidebar">

  <nav class="nav flex-column">
    <%= render 'users/search' %>
    </li>
  <nav class="nav flex-column">
    <li class="nav-item mb-3">
      <%= link_to root_path, class: 'nav-link' do %>
        <i class="fas fa-home fa-lg"></i> ホーム
      <% end %>
    </li>

    <li class="nav-item mb-3">
      <%= link_to posts_path, class: 'nav-link' do %>
        <i class="fas fa-list fa-lg"></i> 投稿一覧
      <% end %>
    </li>

   <% if current_user && !current_user.guest? %>
    <li class="nav-item mb-3">
      <%= link_to user_path(current_user), class: 'nav-link' do %>
        <i class="fas fa-user fa-lg"></i> マイページ
      <% end %>
    </li>
    <% end %>

    <% if current_user && !current_user.guest? %>
      <li class="nav-item mb-3">
        <%= link_to chat_history_user_path(current_user), class: 'nav-link' do %>
          <i class="fab fa-telegram-plane fa-lg"></i> メッセージ
        <% end %>
      </li>
    <% end %>

    <% if current_user && !current_user.guest? %>
      <li class="nav-item mb-3">
        <%= link_to notifications_path(current_user), class: 'nav-link notification-badge' do %>
          <i class="fas fa-bell fa-lg"></i>&nbsp; 通知
          <% unless unchecked_notifications.empty? %>
            <span class="badge badge-danger">
              <%= unchecked_notifications.count %>
            </span>
            <% end %>
        <% end %>
      </li>
    <% end %>

    <% if current_user && !current_user.guest? %>
    <li class="nav-item mb-3">
      <%= link_to liked_posts_user_path(current_user), class: 'nav-link' do %>
        <i class="fas fa-heart fa-lg"></i> いいね一覧
      <% end %>
    </li>
    <% end %>

    <li class="nav-item mb-3">
      <%= link_to "#", class: 'nav-link', onclick: "event.preventDefault(); window.history.back();" do %>
  <i class="fas fa-arrow-left fa-lg"></i>&nbsp; 戻る
<% end %>


    </li>
  </nav>
</div>
    </nav>
  </div>
</div>

<!-- Sidebar for larger screens. -->
<div class="col-12 col-sm-4">
  <div class="main-container">
    <div class="col-md-2"></div>
    <div class="sidebar d-none d-md-block">
      <nav class="nav flex-column">
        <%#= render 'users/search' %>
        <!-- ... (the rest of your menu items go here) ... -->
        <div class="sidebar">

  <nav class="nav flex-column">
    <%= render 'users/search' %>
    </li>
  <nav class="nav flex-column">
    <li class="nav-item mb-3">
      <%= link_to root_path, class: 'nav-link' do %>
        <i class="fas fa-home fa-lg"></i> ホーム
      <% end %>
    </li>

    <li class="nav-item mb-3">
      <%= link_to posts_path, class: 'nav-link' do %>
        <i class="fas fa-list fa-lg"></i> 投稿一覧
      <% end %>
    </li>

   <% if current_user && !current_user.guest? %>
    <li class="nav-item mb-3">
      <%= link_to user_path(current_user), class: 'nav-link' do %>
        <i class="fas fa-user fa-lg"></i> マイページ
      <% end %>
    </li>
    <% end %>

    <% if current_user && !current_user.guest? %>
      <li class="nav-item mb-3">
        <%= link_to chat_history_user_path(current_user), class: 'nav-link' do %>
          <i class="fab fa-telegram-plane fa-lg"></i> メッセージ
        <% end %>
      </li>
    <% end %>

    <% if current_user && !current_user.guest? %>
      <li class="nav-item mb-3">
        <%= link_to notifications_path(current_user), class: 'nav-link notification-badge' do %>
          <i class="fas fa-bell fa-lg"></i>&nbsp; 通知
          <% unless unchecked_notifications.empty? %>
            <span class="badge badge-danger">
              <%= unchecked_notifications.count %>
            </span>
            <% end %>
        <% end %>
      </li>
    <% end %>

    <% if current_user && !current_user.guest? %>
    <li class="nav-item mb-3">
      <%= link_to liked_posts_user_path(current_user), class: 'nav-link' do %>
        <i class="fas fa-heart fa-lg"></i> いいね一覧
      <% end %>
    </li>
    <% end %>

    <li class="nav-item mb-3">
      <%= link_to "#", class: 'nav-link', onclick: "event.preventDefault(); window.history.back();" do %>
  <i class="fas fa-arrow-left fa-lg"></i>&nbsp; 戻る
<% end %>


    </li>
  </nav>
</div>
      </nav>
    </div>
  </div>
</div>

<!-- CSS: -->

<style>
@media (min-width: 768px) {
  .offcanvas {
    display: none;
  }
}
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
</style>

