<style>
body {
  background-color: #F0F8FF;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 36px;
}

.post-container {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.post-content {
  font-size: 16px;
  margin-bottom: 5px;
}


</style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="container mt-3">
          <div class="row">
            <%= render 'sidebar' %>
            <div class="col-8">
              <div class="main-container">
                <div class="main-container">
                  <h1 class="mb-3" style="font-size: 24px; font-weight: bold;">投稿一覧</h1>
                  <%= render 'posts/new_posts' %>
                  <div class="row">
                    <% @posts.each do |post| %>
                      <% unless post.user.is_deleted %>
                        <div class="col-12 mb-3">
                          <div class="post-container">
                            <div class="d-flex justify-content-between align-items-start">
                              <div class="post-tops">
                                  <div class="d-flex align-items-center mb-2">
                                    <%= link_to user_path(post.user) do %>
                                    <% if post.user.profile_picture.attached? %>
                                      <%= image_tag post.user.profile_picture, size: "40x40", class: 'rounded-circle mr-2' %>
                                    <% else %>
                                      <%= image_tag 'default_profile_picture.png', size: "40x40", class: 'img-fluid rounded-circle mr-2' %>
                                    <% end %>
                                    <strong class="post-header text-dark"><%= post.user.username %></strong>
                                  </div>
                                <% end %>
                                <p class="post-content"><%= post.content %></p>
                                <%= render 'image_video', post: post %>




                                <div id="like_<%= post.id %>"><%= render 'likes', post: post %></div>


                                <% if current_user == post.user %>
                                  <%= link_to edit_post_path(post.id), class: "icon-button btn btn-link pl-1" do %>
                                    <i class="fas fa-edit" style="color: #FFA07A;"></i>
                                  <% end %>
                                  <%= link_to post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？？", class: "icon-button btn btn-link" do %>
                                    <i class="fas fa-trash" style="color: #FFA07A;"></i>
                                  <% end %>
                                <% end %>
                                <small class="text-muted pb-3"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small>
                              </div>
                            </div>

                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
