<h1>投稿一覧</h1>
<h1><%= link_to "新しい投稿", new_post_path %></h1>

<% @posts.each do |post| %>

<%= link_to user_path(post.user) do %>

  <span><%= post.content %></span>

  <%= image_tag post.image, size: "120x120" if post.image.attached? %>
<% end %>

<%= render 'comments', post: post %>

<% if current_user == post.user %>
  <%= link_to '編集', edit_post_path(post.id) %>
  <%= link_to '削除', post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？？" %>
<% end %>

<%= render 'likes', post: post %>

<% end %>

