<style>
  body {
    background-color: #ffe7cc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
</style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="container mt-3">
          <div class="row">
            <%= render 'sidebar' %>
            <div class="col-8">
              <div class="main-container">
                <div class="main-container">
                  <h1 class="mb-3" style="font-size: 24px; font-weight: bold;">投稿一覧</h1>
                  <%= render 'posts/new_posts' %>
                  <div class="row">
                    <% @posts.each do |post| %>
                      <% unless post.user.is_deleted %>
                        <div class="col-12 mb-3">
                          <div class="post-container">
                            <div class="d-flex justify-content-between align-items-start">
                              <div class="post-tops">
                                <%= link_to user_path(post.user) do %>
                                  <p class="post-header taxt-dark"><%= post.user.username %></p>
                                <% end %>
                                <p class="post-content"><%= post.content %></p>

                                <%= render 'image_video', post: post %>

                                <%= render 'likes', post: post %>
                                <% if current_user == post.user %>
                                  <%= link_to edit_post_path(post.id), class: "icon-button btn btn-link" do %>
                                    <i class="fas fa-edit" style="color: #FFA07A;"></i>
                                  <% end %>
                                  <%= link_to post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？？", class: "icon-button btn btn-link" do %>
                                    <i class="fas fa-trash" style="color: #FFA07A;"></i>
                                  <% end %>
                                <% end %>
                              </div>
                              <div class="post-side">
                                <%= render 'comments', post: post %>


                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>



