<div class="container mt-3">
  <h1 class="mb-3">新しい投稿</h1>

  <%= form_with model: @post, local: true, html: {class: "needs-validation", novalidate: true} do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h4><%= pluralize(@post.errors.count, "error") %>件のエラーがあります:</h4>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :content, "文章", class: "form-label" %>
      <%= f.text_area :content, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :image, class: "form-label" %>
      <%= f.file_field :image, class: "custom-file-input" %>
    </div>

    <div class="form-group">
      <%= f.submit "投稿する", class: "btn btn-custom" %>
    </div>
  <% end %>
</div>
