<div class="container mt-5">
  <div class="row justify-content-center">
    <%= render 'sidebar' %>
    <div class="col-md-6 offset-md-1">
      <div class="card shadow-lg mb-5">
        <div class="card-header text-dark text-center">
          <div class="d-flex align-items-center">
            <% if @post.user.profile_picture.attached? %>
              <%= image_tag @post.user.profile_picture, size: "60x60", class: 'rounded-circle mr-2' %>
            <% end %>
            <h3 class="my-2"><%= @post.user.username %></h3>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <p class="lead"><%= @post.content %></p>
          </div>
          <% if @post.image.attached? %>
            <div class="form-group">
              <%= image_tag @post.image, class: 'img-fluid rounded' %>
            </div>
          <% end %>
          <% if @post.video.attached? %>
            <div class="form-group">
              <%= video_tag url_for(@post.video), class: 'img-fluid rounded', controls: true %>
            </div>
          <% end %>

          <div id="like_<%= @post.id %>"><%= render 'likes', post: @post %></div>
          <div class="mb-4">
            <h5>
              <i class="far fa-calendar-alt"></i>
              <span class="text-muted">投稿日時: <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></span>
            </h5>
          </div>
          <% if current_user == @post.user %>
            <%= link_to edit_post_path(@post.id), class: "btn btn-link" do %>
              <i class="fas fa-edit" style="color: #FFA07A;"></i>
            <% end %>
            <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？？", class: "btn btn-link" do %>
              <i class="fas fa-trash" style="color: #FFA07A;"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= render 'comments' %>
    </div>
  </div>
</div>
